<div *ngIf="afAuth.user | async as user; else showLogin">
  <div class="uk-padding uk-padding-small uk-text-center">
    {{ user.displayName }}
    <a class="uk-margin-small-left" (click)="presenceService.signOut()"><span uk-icon="icon: sign-out"></span></a>
  </div>
  
  
</div>
<ng-template #showLogin>
  <div id="my-id" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    </div>
  </div>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>