<div class="uk-flex uk-height-1-1 uk-background-secondary uk-light">
	<div class="uk-flex uk-flex-column">
		<div class="uk-flex-1">
			<div *ngFor="let stream of availableStreams | async">
				<div class="available-stream" *ngIf="stream.clientId != presenceService.sessionId">
					<a (click)="createShareRequest(stream.clientId)">{{ stream.displayName }} <span class="live-badge">live</span></a>
				</div>
			</div>
		</div>
		<div class="sharing-status uk-flex-none">
			<div class="share-button" *ngIf="!capturing; else showStatus" >
				<a (click)="startCapture()"><span class="uk-margin-small-right" uk-icon="icon: desktop"></span>Share screen</a>
			</div>
			<ng-template #showStatus>
				<div class="status-capturing">
					Live
				</div>
			</ng-template>
			<app-user-status></app-user-status>
		</div>	
	</div>
	<div class="streams uk-flex-1">
		<div class="local-stream uk-animation-scale-up uk-transform-origin-bottom-left" [class.hidden]="!capturing">
			<video id="me" autoplay #me></video>
		</div>
		<div class="remote-streams uk-flex uk-flex-wrap uk-height-1-1" [class.uk-child-width-1-2]="countActiveInboundStreams() > 1" [class.uk-child-width-1-3]="countActiveInboundStreams() > 4">
			<template #peerConnections></template>
		</div>
		
		<!-- <button (click)="logPeerConnections()">log connections</button>
		<button (click)="destroyPeerConnections()">destroy connections</button> -->
	</div>
</div>

