.hidden {
  display: none;
}

.available-stream {
  a {
    display: block;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    transition: all 0.3s;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

  a:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.3);
  }

  .live-badge {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    background-color: #c62828;
    border-radius: 13px;
    margin-left: 10px;
  }
}

.sharing-status{
  min-width: 180px;
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 14px;
  .share-button {
    background-color: #1e87f0;
    width: 100%;
    text-align: center;
    a{
      display: block;
      padding: 0 15px;
      height: 50px;
      line-height: 50px;
    }
    a:hover{
      text-decoration: none;
    }
  }
  .status-capturing {
    background-color: #c62828;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
}

.streams {
  background-color: rgba(0,0,0,0.5);
  position: relative;

  .local-stream {
    position: absolute;
    bottom: 0;
    left: 0;
    video {
      width: 400px;
    }
  }

  .remote-streams {
    max-height: 100%;

    app-peer-connection {
      display: block;
      flex: 1;
    }

  }
}
